/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*  font: inherit;*/
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.9rem;
}

a {
  color: #00695C;
  text-decoration: none;
}
a img.icon {
  height: 1.2em;
  vertical-align: sub;
}

* {
  box-sizing: border-box;
  line-height: 1.4em;
}

table {
  width: 100%;
}
table th, table td {
  vertical-align: middle;
}

svg {
  display: block;
}

label {
  position: relative;
}

.hidden {
  display: none !important;
}

.columnas-ajustadas {
  display: flex;
}
.columnas-ajustadas .columna {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.columnas-ajustadas .columna:not(:last-of-type) {
  margin-right: 1em;
}
.columnas-ajustadas.horizontal {
  flex-direction: column;
}
.columnas-ajustadas.horizontal .columna {
  flex-direction: row;
}
.columnas-ajustadas.horizontal .columna > * {
  margin-right: 1em;
}
.columnas-ajustadas.horizontal .columna > *:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1300px) {
  .columnas-ajustadas {
    flex-direction: column;
  }
}
.center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.btn, .btn-flat {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: none;
  border-radius: 2em;
  font-size: 0.9rem;
  color: #546E7A;
  letter-spacing: -0.01em;
  cursor: pointer;
  line-height: 1.9rem;
  padding: 0.5em 1.5em 0.5em 1.5em;
}
.btn .mdi, .btn-flat .mdi {
  font-size: 1.2rem;
  margin-right: 0.3em;
  line-height: normal;
}
.btn.bajo, .btn-flat.bajo {
  height: 2em;
  line-height: 2em;
  padding: 0.1em 1.5em 0em 1.5em;
}
.btn.bajo .mdi, .btn-flat.bajo .mdi {
  vertical-align: middle;
}
.btn.solo, .btn-flat.solo {
  padding-right: 1.3em;
  padding-left: 1.3em;
}
.btn.solo > .mdi, .btn-flat.solo > .mdi {
  margin: 0;
}
.btn[disabled], .btn-flat[disabled] {
  pointer-events: none;
  box-shadow: none !important;
  background: #EEEEEE !important;
  color: #BBBBBB !important;
}
.btn.icon-right, .btn-flat.icon-right {
  padding: 0.5em 1.5em 0.5em 2em;
}
.btn.icon-right .mdi, .btn-flat.icon-right .mdi {
  margin-left: 0;
  margin-right: 0;
}

.btn {
  background: #E0F2F1;
}
.btn:hover {
  background: #B2DFDB;
}

.btn-flat {
  background: none;
}
.btn-flat:hover {
  background: #ECEFF1;
}
.btn-flat[disabled] {
  color: #EEEEEE;
}

.nota {
  background: #E1F5FE;
  padding: 1em 1.5em;
  width: 100%;
  border-radius: 0.5rem;
}
.nota .titulo {
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.nota .descripcion b {
  font-weight: 600;
}

.chip {
  background: rgba(96, 125, 139, 0.1254901961);
  border-radius: 1em;
  display: inline-block;
  margin-right: 0.3em;
  font-weight: 500;
  letter-spacing: -0.03em;
  white-space: nowrap;
  color: #455A64;
  margin: 0.05em 0.5em 0.05em 0;
  padding: 0.1em 1em 0.1em 1em;
  line-height: inherit;
  line-height: inherit;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.chip .mdi {
  margin-right: 0.3em;
  margin-left: -0.3em;
}
.chip a {
  color: inherit;
}
.chip.icon-right .mdi {
  margin-left: 0.3em;
  margin-right: -0.3em;
}
.chip.flat {
  background: none;
  padding: 0.1em 0.2em;
}
.chip.flat.hover {
  padding: 0.1em 0.7em;
}
.chip.flat.hover:hover {
  background: #EEE;
}

.desplegable {
  position: relative;
  cursor: default;
}
.desplegable > div {
  position: relative;
  padding: 0em 0.2em;
  border-radius: 0.1em;
  border: 1px solid #767676;
  user-select: none;
  line-height: 1.313em;
}
.desplegable > div:after {
  content: "";
  position: absolute;
  right: 0.3em;
  border: solid 0.15em #000;
  border-right: none;
  border-top: none;
  width: 0.3em;
  height: 0.3em;
  transform: translateY(0.3em) rotate(-45deg);
}
.desplegable > ul {
  display: none;
  position: absolute;
  box-shadow: 0 0.1em 0.4em -0.2em #000;
  background: #FFFFFF;
  z-index: 1;
  width: 100%;
  border: 1px solid #CCC;
  overflow: hidden;
  border-radius: 0.4em;
}
.desplegable > ul > li {
  padding: 0em 0.2em;
  line-height: 1.313em;
}
.desplegable > ul > li:hover {
  background: rgb(var(--default-background, 33, 150, 243));
  color: #FFFFFF;
}
.desplegable.activo > ul {
  display: block;
  z-index: 2;
}

ul.historia {
  margin: 0 0.5em;
}
ul.historia > li {
  border-left: 0.15em solid #DDD;
  padding: 0em 0.3em 1.5em 1em;
  position: relative;
  color: #444;
}
ul.historia > li::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  background: #FFF;
  border: 0.15em solid #AAA;
  border-radius: 50%;
  padding: 0.1em;
  top: 0.3em;
  left: -0.45em;
  margin: 0em;
  outline: 0.2em solid #FFF;
}
ul.historia > li .titulo {
  font-weight: 500;
}
ul.historia > li .fecha {
  color: #555;
  font-size: 0.8em;
  margin-bottom: 0.4em;
  padding-left: 0.3em;
}
ul.historia > li.inicio::before, ul.historia > li.termino::before {
  width: 0.1em;
  height: 0.1em;
  background: #AAA;
  left: -0.3em;
}
ul.historia > li.inicio {
  border-color: transparent;
}
ul.historia > li.inicio::before {
  top: 0.3em;
}
ul.historia > li.termino::before {
  outline-width: 0.4em;
}
ul.historia > li.parcial::before {
  border-style: dotted;
}
ul.historia ul.subhistoria {
  margin-top: 0.5em;
  margin-left: 1.2rem;
}
ul.historia ul.subhistoria > li {
  position: relative;
  margin-bottom: 0.4em;
}
ul.historia ul.subhistoria > li::after {
  content: "";
  width: 1.2em;
  height: 1px;
  background: #CCC;
  position: absolute;
  top: 0.6em;
  left: -1.8em;
}
ul.historia ul.subhistoria > li::before {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  left: -2.55em;
  background: #F5F5F5;
  border: 0.15em solid #BBB;
  border-radius: 50%;
  padding: 0.1em;
  top: 0.4em;
  margin: 0em;
  outline: 0.2em solid #FFF;
}
ul.historia ul.subhistoria > li .fecha {
  margin-bottom: 0;
  padding-left: 0.05em;
}
ul.historia ul.subhistoria > li .titulo {
  font-weight: 400;
  font-size: 0.9em;
  color: #000;
}

.molecvet .molec {
  font-weight: 500;
}
.molecvet .vet {
  font-weight: 600;
  color: #00695C;
}

.ql-wrapper {
  border-radius: 4px;
  border: 2px solid #757575;
}

.ql-container {
  font-size: 0.95rem;
}

.ql-container.ql-snow {
  border: 0;
}

.ql-toolbar.ql-snow {
  border: 0;
  border-bottom: 1px solid #EEE;
}

:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

* {
  font-family: "Noto Sans", "Tahoma", sans-serif;
}

#pagina {
  background: #ECEFF1;
}

#header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background: #FFF;
  box-shadow: 0 0.4em 0.5em -0.8em #000;
}
#header > div {
  display: flex;
}

#logo img {
  height: 4rem;
}

#principal {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  padding: 1em 0;
  min-height: calc(100vh - 4rem);
}

#cuerpo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 0 1em;
  width: calc(100% - 15.2em);
}

#contenido {
  width: 100%;
  margin-right: 1em;
}

#main {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

#lateral {
  background: #FFF;
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
  border-radius: 0.6em;
  padding: 1.5em 1em 1em 1em;
  font-size: 0.9em;
  min-height: calc(100vh - 6.5em);
}
#lateral .divider {
  border: 1px solid #EEEEEE;
  height: 0.01px;
  border-radius: 1em;
  margin: 1.2em;
  border-bottom-color: #F3F3F3;
}
#lateral .btn, #lateral .btn-flat {
  box-shadow: 0 0.1em 0.2em -0.1em #000;
}
#lateral .btn:hover {
  box-shadow: 0 0.1em 0.2em -0.1em #000, 0 0.2em 0.5em -0.3em #000;
}
#lateral .btn:hover:active {
  box-shadow: 0 0.05em 0.2em -0.1em #000;
}
#lateral .principal {
  margin-bottom: 1em;
}
#lateral .principal .btn, #lateral .principal btn-flat {
  font-size: 1rem;
  margin-bottom: 0.3em;
}
#lateral .secundario {
  font-size: 0.95em;
}
#lateral .secundario > .titulo {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0.5em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #424242;
}
#lateral .secundario > .titulo .mdi {
  font-size: 1.1em;
  margin-right: 0.3em;
  color: #616161;
}
#lateral .link {
  padding: 0.6em 1em;
  display: block;
  font-weight: 500;
  border-radius: 0.3em;
  margin-bottom: 0.2em;
  color: #456453;
  position: relative;
}
#lateral .link .numero {
  position: absolute;
  right: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
  background: rgba(0, 0, 0, 0.0666666667);
}
#lateral .link .mdi {
  font-size: 1.4em;
  line-height: 1em;
  vertical-align: text-top;
  margin-right: 0.1em;
}
#lateral .link:hover {
  background: #EEE;
}
#lateral .link.activo {
  background: #E7E7E7;
}

#opciones {
  display: flex;
  background: #CFD8DC;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-radius: 0.6em;
}
#opciones .opcion a {
  margin-bottom: 0;
  margin-right: 0.5em;
  height: 3em;
}
#opciones .opcion .mdi {
  font-size: 1.4rem;
  margin-right: 0.1em;
}

#menu {
  min-width: 14rem;
  border-radius: 0 0.6em 0.6em 0;
  padding: 1em 0.5em;
  background: #FFF;
  height: calc(100vh - 6em);
}
#menu ul li {
  margin-bottom: 0.2rem;
}
#menu ul li.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0.5em 1em;
}
#menu ul li a {
  font-weight: 500;
  color: #555;
  padding: 0.3em 1em;
  display: flex;
  align-items: center;
  border-radius: 2em;
  letter-spacing: -0.01em;
  position: relative;
}
#menu ul li a .numero {
  position: absolute;
  right: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
}
#menu ul li a .chevron {
  position: absolute;
  right: 2.5em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
}
#menu ul li a .chevron:hover {
  background: rgba(0, 0, 0, 0.0666666667);
}
#menu ul li a .chevron .mdi {
  margin-right: 0;
}
#menu ul li a .mdi {
  margin-right: 0.3em;
  font-size: 1.6em;
}
#menu ul li a.activo {
  background: rgba(96, 125, 139, 0.2);
  color: #424242;
}
#menu ul li a.activo .numero {
  background: rgba(0, 0, 0, 0.1333333333);
  color: #455A64;
}
#menu ul li a:hover {
  background: rgba(96, 125, 139, 0.1333333333);
}
#menu ul li ul {
  margin: -2em 0em 1em 1em;
  border-left: 2px solid #CFD8DC;
  padding: 2.2em 0.5em 0em 0.2em;
  transition: all 400ms;
  overflow: hidden;
}
#menu ul li ul.cerrado {
  height: 0px !important;
  border-color: #ECEFF1;
  margin-bottom: 0;
  transition: all 400ms;
}
#menu ul li ul li a {
  padding: 0.4em 2.2em 0.4em 1em;
  font-size: 0.9em;
  border-radius: 2em;
  line-height: 1em;
}
#menu ul li ul li a i.mdi {
  font-size: 1.3em;
}
#menu ul li ul li a.activo {
  background: #CFD8DC;
}
#menu ul li ul li:last-child {
  margin-bottom: 0;
}

#botones-usuario {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
#botones-usuario > li {
  position: relative;
  margin: 0.3em;
}
#botones-usuario > li .desplegable {
  position: absolute;
  width: 100%;
  z-index: 10;
}
#botones-usuario > li.activo #boton-usuario {
  outline: 2px solid #CCC;
}
#botones-usuario > li.activo ul {
  display: block;
}

#menu-usuario #boton-usuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2em 1em 0.2em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  user-select: none;
  color: #555555;
  font-weight: 500;
}
#menu-usuario #boton-usuario:hover {
  background: rgba(0, 0, 0, 0.0666666667);
}
#menu-usuario #boton-usuario img {
  border-radius: 50%;
  height: 3em;
  margin-left: 1em;
  display: block;
}
#menu-usuario ul {
  display: none;
  background: #FFF;
  border-radius: 0.5em;
  margin-top: 0.5em;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.4666666667);
  padding: 0.5em 0;
  margin-right: 0.5em;
}
#menu-usuario ul li a {
  display: flex;
  padding: 1em;
}
#menu-usuario ul li a .mdi {
  margin-right: 0.5em;
}
#menu-usuario ul li a:hover {
  background: #EEE;
}

:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

/**

  <div class="ficha">
    <header>
      <div class="principal">
        <div class="icono"> <i class="mdi mdi-square"></i> </div>
        <div class="titulo">
          <div class="nombre"> </div>
          <div class="descripcion"> </div>
        </div>
      </div>
    </header>
    <main>
      <div class="fila">
        <div class="campo">
          <div class="label">
            <?= $model->getAttributeLabel('attribute') ?>
          </div>
          <div class="value">
            <?= $model->attribute ?>
          </div>
        </div>
      </div>
    </main>
  </div>

 */
.ficha {
  border-radius: 0.6em;
  margin-bottom: 1em;
  background: #FFF;
}
.ficha > header {
  padding: 1.2em 1.5em 1.2em 1.5em;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.ficha > header .principal {
  display: flex;
  align-items: center;
}
.ficha > header .principal .icono {
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ficha > header .principal .icono .mdi {
  font-size: 2em;
}
.ficha > header .principal .icono .numero {
  font-weight: 800;
  font-size: 1.5rem;
}
.ficha > header .principal .titulo .nombre {
  font-weight: bolder;
  font-size: 1.05em;
  letter-spacing: -0.02em;
  padding: 0.3em 0;
  display: flex;
  align-items: center;
}
.ficha > header .principal .titulo .descripcion {
  font-size: 0.9em;
  color: #424242;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  line-height: 1.6em;
}
.ficha > header .opciones {
  display: flex;
  white-space: nowrap;
}
.ficha > header .opciones .opcion {
  margin-left: 0.5em;
}
.ficha > header .opciones .opcion .btn .mdi,
.ficha > header .opciones .opcion .btn-flat .mdi {
  font-size: 1.4rem;
  vertical-align: sub;
}
.ficha > header .opciones .opcion .btn.solo,
.ficha > header .opciones .opcion .btn-flat.solo {
  padding-right: 0.8em;
  padding-left: 0.8em;
}
.ficha > header .opciones .opcion .btn.solo .mdi,
.ficha > header .opciones .opcion .btn-flat.solo .mdi {
  margin-right: 0;
}
.ficha > header .opciones .opcion .btn.grande,
.ficha > header .opciones .opcion .btn-flat.grande {
  padding: 0.1em 0.2em;
  border-radius: 0.5em;
}
.ficha > header .opciones .opcion .btn.grande .mdi,
.ficha > header .opciones .opcion .btn-flat.grande .mdi {
  font-size: 2rem;
}
.ficha > main {
  padding: 0em 1.5em 1em 1.5em;
}
.ficha > main > header {
  padding: 0.2em 0;
}
.ficha > main > header .titulo {
  font-weight: bold;
  letter-spacing: -0.03em;
}
.ficha > main > header .titulo .mdi {
  margin-right: 0.2em;
}
.ficha > main .fila {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1em;
}
.ficha > main .fila:first-child {
  margin-top: 0.5em;
}
.ficha > main .fila:last-child {
  margin-bottom: 0;
}
.ficha > main .fila .campo {
  margin: 0 3em 1em 0;
}
.ficha > main .fila .campo > .label {
  font-size: 0.8em;
  font-weight: bold;
  color: #37474F;
  margin-bottom: 0.3em;
}
.ficha > main .fila .campo.grande {
  width: 100%;
  margin-right: 0;
}
.ficha > footer {
  padding: 0.7em 1em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: nowrap;
}
.ficha > footer .opciones {
  display: flex;
}
.ficha > footer .opciones.center {
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}
.ficha > footer .opciones.center .opcion {
  margin-bottom: 0.5em;
}
.ficha > footer .opciones .opcion {
  margin-left: 0.5em;
}
.ficha.ocultable > header {
  cursor: pointer;
}
.ficha.ocultable > header::before {
  font: normal normal normal 24px/1 "Material Design Icons";
  content: "\f0143";
  color: #bdbdbd;
  line-height: 1em;
  float: right;
  text-shadow: 0em 0em 0.8em #fff;
}
.ficha.ocultable.oculta > header::before {
  content: "\f0140";
}
.ficha.ocultable.oculta > main {
  display: none;
}
.ficha.ocultable.oculta > footer {
  display: none;
}

/** campo lineal */
.ficha.lineal .fila,
.ficha .fila.lineal {
  flex-direction: column;
}

.ficha.lineal .fila .campo,
.ficha .fila.lineal .campo,
.ficha .fila .campo.lineal {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.ficha.lineal .fila .campo .label,
.ficha .fila.lineal .campo .label,
.ficha .fila .campo.lineal .label {
  font-size: 1rem;
  font-weight: 600;
  width: 50%;
  margin-bottom: 0;
}

.ficha.accion {
  background: none;
}
.ficha.accion > header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.ficha.accion > header .principal .icono .mdi {
  font-size: 1.4em;
}

.ficha.header > header .icono .mdi {
  font-size: 3em;
  line-height: 1em;
  margin-right: 0.5rem;
}

.ficha.lista > header {
  font-size: 1em;
  padding: 1.2em 1.5em 0em 1.5em;
  margin-bottom: 0;
}
.ficha.lista main {
  padding: 1em;
}
.ficha.lista .items .item .informacion .campo {
  margin-bottom: 0;
}
.ficha.lista.con-filtro > main {
  padding: 0;
}
.ficha.lista.con-filtro > main > .lista {
  padding: 0 1em 1em 1em;
}
:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

div.lista.compacta .items .item {
  height: 2.6em;
}
div.lista > header {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  font-weight: 500;
  margin-bottom: 1em;
  letter-spacing: -0.02em;
  padding: 0 1rem;
}
div.lista > header .cantidad {
  color: #9E9E9E;
}
div.lista > header .sorter {
  display: flex;
}
div.lista .items .item {
  display: flex;
  justify-content: space-between;
  padding: 0.4em 1em;
}
div.lista .items .item .informacion {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}
div.lista .items .item .informacion .icono {
  padding: 0 0.6em 0 0;
  font-size: 1.5em;
  color: #00796B;
}
div.lista .items .item .informacion .numero {
  padding: 0 0.6em 0 0;
  font-size: 1.5em;
  font-weight: bold;
}
div.lista .items .item .informacion .imagen {
  overflow: hidden;
  padding: 0.5em 1em 0.5em 0;
}
div.lista .items .item .informacion .imagen img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: block;
}
div.lista .items .item .informacion .texto {
  padding: 0.1em 0;
}
div.lista .items .item .informacion .texto .primario {
  font-weight: 500;
  color: #212121;
  display: flex;
  align-items: center;
}
div.lista .items .item .informacion .texto .primario a {
  font-weight: 700;
}
div.lista .items .item .informacion .texto .primario .campo {
  margin-right: 1em;
  margin-bottom: 0;
}
div.lista .items .item .informacion .texto .secundario {
  font-size: 0.9em;
  font-weight: 400;
  color: #424242;
  display: flex;
  flex-wrap: wrap;
  max-height: 1.6em;
  overflow: hidden;
}
div.lista .items .item .informacion .texto .secundario .campo {
  margin-right: 1em;
}
div.lista .items .item .informacion .texto .label {
  color: #999;
  display: inline-block;
  font-weight: 400;
}
div.lista .items .item .opciones {
  display: flex;
  align-items: center;
}
div.lista .items .item .opciones .opcion {
  margin-left: 0.3em;
  white-space: nowrap;
}
div.lista .items .item .opciones .opcion a {
  color: #607D8B;
  background: #E0F2F1;
  border-radius: 2em;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.lista .items .item .opciones .opcion a .mdi {
  font-size: 1.4em;
}
div.lista .items .item .opciones .opcion a:hover {
  background: #B2DFDB;
}
div.lista .items .item .opciones .opcion.grande a {
  width: auto;
  padding: 0 1.2em 0 1em;
  font-weight: 500;
}
div.lista .items .item .opciones .opcion.grande a .mdi {
  margin-right: 0.1em;
}
div.lista .items .item:hover .opcion a {
  color: #607D8B;
}
div.lista .items .item.no-leida {
  box-shadow: 0 0.1em 0.2em -0.1em #000;
  border-radius: 0.3em;
  background: rgba(77, 182, 172, 0.0666666667);
  outline: 1px solid #B2DFDB;
}

.lista ul.sorter li {
  margin-left: 0.5em;
}
.lista ul.sorter li a {
  color: #9E9E9E;
  display: flex;
  align-items: center;
}
.lista ul.sorter li a:hover {
  color: #757575;
}
.lista ul.sorter li a.asc::before {
  content: "\f005d";
}
.lista ul.sorter li a.desc::before {
  content: "\f0045";
}
.lista ul.sorter li a::before {
  font: normal normal normal 24px/1 "Material Design Icons";
  line-height: 0.85em;
  font-size: 1em;
  vertical-align: text-bottom;
}

ul.pagination {
  cursor: default;
  margin: 1em 0 0 0;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
ul.pagination li {
  text-align: center;
  display: block;
  line-height: 3em;
  min-width: 3em;
  height: inherit;
  padding: 0 0.1em;
}
ul.pagination li a {
  font-size: inherit;
  display: block;
  width: 100%;
  padding: 1em 0;
  color: #424242;
  border-radius: 2em;
}
ul.pagination li.active a {
  background: #B2DFDB;
}
ul.pagination li.disabled {
  cursor: default;
}
ul.pagination li.disabled span {
  color: #AAA;
}
ul.pagination li:not(.active) a:hover {
  background: #E0F2F1;
}

:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

.form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  background: #fff;
  line-height: 1.4em;
}
.form-group label {
  display: flex;
  position: absolute;
  top: 0.7em;
  left: 0.9em;
  transition: all 150ms ease-in;
  padding: 0.1em 0.4em;
  pointer-events: none;
  font-size: 0.9em;
  border-radius: 1em;
  background: transparent;
  height: 1.5em;
  overflow: hidden;
  max-width: calc(100% - 2em);
  word-break: break-all;
  font-size: 0.95em;
}
.form-group label.activo {
  top: -0.7em;
  left: 0.7em;
  bottom: auto;
  font-size: 0.8em;
  font-weight: 500;
  color: #37474f;
  z-index: 1;
  background: #FFFFFF;
}
.form-group select, .form-group input {
  height: 3em;
  font-size: 0.95em;
}
.form-group select:active, .form-group select:focus, .form-group input:active, .form-group input:focus {
  border-color: #37474f;
}
.form-group select[disabled], .form-group input[disabled] {
  color: #9E9E9E;
  border-style: dotted;
  border-color: #9E9E9E;
}
.form-group input, .form-group select, .form-group textarea {
  border: 2px solid #757575;
  width: 100%;
}
.form-group input[readonly], .form-group select[readonly], .form-group textarea[readonly] {
  background: #EEEEEE;
  color: #555;
}
.form-group select {
  border-radius: 4px;
  padding: 0 0.8em;
  outline: none;
}
.form-group select option {
  padding: 1em;
  list-style: 2em;
}
.form-group input {
  display: flex;
  border-radius: 4px;
  outline: none;
  padding: 0 0.7em;
}
.form-group .help-block {
  display: block;
  font-size: 0.8em;
  margin: 0.3em 0.7em;
  position: relative;
  line-height: 1.1em;
  background: #FFFFFF;
  display: none;
}
.form-group .hint-block {
  font-size: 0.8em;
  display: flex;
  padding: 0.2em 0.7em;
  color: #555;
}
.form-group.required > label::after {
  content: "*";
  padding-left: 0.2em;
}
.form-group.has-error {
  color: #F44336;
}
.form-group.has-error label {
  color: #F44336;
}
.form-group.has-error select,
.form-group.has-error input {
  border-color: #F44336;
}
.form-group.has-error .hint-block {
  display: none;
}
.form-group.has-error .help-block {
  display: block;
}
.form-group.has-error .help-block:empty {
  display: none;
}
.form-group.textarea textarea {
  border-radius: 4px;
  padding: 1em;
  resize: vertical;
  height: 5em;
  min-height: 5em;
  font-size: 0.95em;
}
.form-group.textarea .help-block {
  position: static;
}
.form-group.checkbox {
  padding: 0;
}
.form-group.checkbox input {
  height: 0;
}
.form-group.checkbox > label {
  padding: 0;
  background: transparent;
  position: relative;
  min-height: 3em;
  height: auto;
  top: auto;
  left: auto;
  pointer-events: auto;
  width: 100%;
  word-break: normal;
  overflow: inherit;
  max-width: inherit;
  padding: 0.8em 0 0.8em 0.5em;
}
.form-group.checkbox > label > span.box {
  padding-left: 2.3em;
  height: auto;
}
.form-group.checkbox.required > label::after {
  content: "";
}
.form-group.checkbox.required .label::after {
  content: " *";
}
.form-group.radiolist {
  margin-top: 0;
}
.form-group.radiolist > [role=radiogroup] {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.1em;
}
.form-group.radiolist > [role=radiogroup] > label {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: static;
  pointer-events: auto;
  font-size: 1em;
  height: auto;
  white-space: nowrap;
  color: #37474f;
  line-height: 1.1em;
}
.form-group.radiolist > [role=radiogroup] > label:not(:last-child) {
  margin-right: 0.5em;
}
.form-group.radiolist > [role=radiogroup] > label input {
  display: block;
  margin: 0 0.8em 0 0.3em;
}
.form-group.radiolist > label {
  position: static;
  font-size: 0.8em;
  font-weight: 500;
  display: block;
}

.form .fieldset {
  padding: 1.2em 1.5em;
  border: 1px solid #DDDDDD;
  margin-bottom: 1em;
}
.form .fieldset .filas {
  padding: 0;
}
.form .fieldset header {
  display: flex;
  justify-content: space-between;
}
.form .fieldset header .informacion {
  display: flex;
}
.form .fieldset header .informacion .icono,
.form .fieldset header .informacion .titulo .nombre {
  font-size: 2em;
}
.form .fieldset header .informacion .icono i.mdi {
  color: #37474F;
  margin-right: 0.4em;
  margin-left: -0.2em;
}
.form .fieldset header .informacion .titulo .nombre {
  font-weight: bold;
}
.form .fieldset header .estado .icono {
  display: none;
  color: #90A4AE;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
}
.form .fieldset header .estado .icono .mdi {
  font-size: 2em;
  margin-left: 0.2em;
}
.form .fieldset main {
  margin-top: 1.5em;
}
.form .fieldset footer {
  padding-left: 0.5em;
  margin-top: 1.5em;
  display: flex;
}
.form .fieldset footer .botones {
  display: flex;
}
.form .fieldset footer .botones .boton {
  margin-right: 0.7em;
}
.form .fieldset.error header .estado .icono.error {
  display: flex;
  color: #EF5350;
}
.form .fieldset.pendiente header .estado .icono.pendiente {
  display: flex;
  color: #AAA;
}
.form .fieldset.activo header .estado .icono.activo {
  display: flex;
}
.form .fieldset.listo header .estado .icono.listo {
  display: flex;
  color: #81C784;
}
.form .filas {
  background: #FFF;
  border-radius: 0.6em;
  padding: 1.2em 1.5em;
}
.form .filas .fila {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.form .filas .fila .icono {
  margin: 0.6em 1em 0em 0.2em;
  min-width: 2em;
}
.form .filas .fila .icono .mdi {
  font-size: 1.6em;
  color: #455a64;
}
.form .filas .fila .campos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.form .filas .fila .campos.flex {
  flex-wrap: nowrap;
}
.form .filas .fila .campos.flex .campo {
  width: 100%;
}
.form .filas .fila .campos .campo {
  display: flex;
  flex-direction: column;
  padding: 0.6em 0 1.3em 0;
  position: relative;
}
.form .filas .fila .campos .campo.con-icono {
  flex-direction: row;
}
.form .filas .fila .campos .campo.con-icono:not(:first-child) .icono {
  margin: 0em 0.5em 0em 0.2em;
}
.form .filas .fila .campos .campo.con-icono .icono {
  margin: 0em 1em 0em 0.2em;
}
.form .filas .fila .campos .campo input[type=text] {
  padding: 1em;
}
.form .filas .fila .campos .campo.grande {
  width: 100%;
  margin-right: 0;
}
.form .filas .fila .campos .campo.estrecho {
  padding: 0;
}
.form .filas .fila .campos .campo.estrecho .form-group {
  margin: 0;
  padding: 0;
}
.form .filas .fila .campos .campo:not(:last-child):not(.grande) {
  margin-right: 2em;
}
.form .filas .fila:not(:last-child) {
  margin-bottom: 1em;
}
.form .opciones {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
}
.form .opciones .opcion {
  margin-left: 0.5em;
}
.form .opciones .opcion .btn {
  background: #00897b;
  color: #FFF;
}
.form .opciones .opcion .btn:hover {
  background: #00796B;
}
.form .opciones .opcion .btn-flat:hover {
  background: #B2DFDB;
}
.form button {
  cursor: pointer;
}

.form .desplegable > div {
  padding: 0.644em 0.8em;
  border-width: 0.15em;
  border-radius: 0.3em;
  min-height: 2.85em;
}
.form .desplegable > ul {
  padding: 0.3em 0;
}
.form .desplegable > ul > li {
  min-height: 1.711em;
  padding: 0.2em 0.8em;
}

input[type=radio] {
  height: 1.1em;
  width: 1.1em;
}

.form.filtro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0em 1.5em 1em 1.5em;
}
.form.filtro .fila {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.form.filtro .fila .campo {
  margin: 0;
  margin-right: 1em;
}
.form.filtro .fila .campo .form-group label {
  font-size: 0.8em;
  font-weight: 500;
  color: #37474f;
  position: static;
  padding: 0;
}
.form.filtro .fila .campo .form-group input, .form.filtro .fila .campo .form-group select {
  height: 2.4em;
  border-color: #9e9e9e;
  width: 10em;
  padding-left: 0.2em;
}
.form-group.ql label {
  top: 3.5em;
  left: 0.7em;
  transition-duration: 190ms;
  z-index: 1;
}
.form-group.ql label.activo {
  top: -0.7em;
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type=checkbox] + div.box,
[type=checkbox] + div.box + div.label {
  display: inline-block;
  vertical-align: top;
}

[type=checkbox] + div.box + div.label {
  margin-left: 1em;
  user-select: none;
}

[type=checkbox] + div.box {
  cursor: pointer;
  user-select: none;
  width: 1.4em;
  height: 1.4em;
}
[type=checkbox] + div.box:before, [type=checkbox] + div.box:after {
  display: block;
  content: "";
  position: absolute;
  transition: background-color 0.2s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}
[type=checkbox] + div.box:after {
  border-radius: 0.2em;
  width: 1.1em;
  height: 1.1em;
}
[type=checkbox]:not(:checked):disabled + div.box:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}
[type=checkbox]:not(:checked) + div.box:after {
  background-color: transparent;
  border: 2px solid #5a5a5a;
  z-index: 0;
}
[type=checkbox]:checked + div.box:before {
  content: "";
  position: absolute;
  width: 0.8em;
  height: 0.35em;
  border: solid 0.15em #FFF;
  border-right: none;
  border-top: none;
  transform: translate(0.2em, 0.35em) rotate(-47deg);
}
[type=checkbox]:checked + div.box:after {
  border: 2px solid #26a69a;
  background-color: #26a69a;
  z-index: 0;
}
[type=checkbox]:disabled:not(:checked) + div.box:before {
  background-color: transparent;
  border: 2px solid transparent;
}
[type=checkbox]:disabled:not(:checked) + div.box:after {
  border-color: transparent;
  background-color: #949494;
}
[type=checkbox]:disabled:checked + div.box:before {
  background-color: transparent;
}
[type=checkbox]:disabled:checked + div.box:after {
  background-color: #949494;
  border-color: #949494;
}

.chip.wa-link,
.chip.mailto {
  background: #e0e0e0;
}

.chip.mailto:hover {
  background: #E8EAF6;
  color: #3F51B5;
}

.chip.wa-link:hover {
  background: #DCF8C6;
  color: #00695C;
}

.chip.fecha {
  background: #FFB74D;
  color: #263238;
}
.chip.fecha.atrasada {
  background: #E53935;
  color: #FFEBEE;
}

.chip.alerta {
  background: #FDD835;
}

.chip.error {
  background: #E53935;
  color: #FFEBEE;
}

.lista-archivos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.lista-archivos > .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #E0F2F1;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.4em solid #E0F2F1;
  position: relative;
  cursor: pointer;
  margin-right: 0.5em;
}
.lista-archivos > .item:hover {
  background: #B2DFDB;
  border-color: #B2DFDB;
  transition: all 100ms;
}
.lista-archivos > .item:hover .opciones {
  opacity: 1;
  transition: all 200ms;
  transition-delay: 200ms;
}
.lista-archivos > .item.agregar {
  cursor: pointer;
  flex-direction: column;
  letter-spacing: -0.02em;
  color: #98c7c3;
  font-weight: 600;
  background: #F5F5F5;
  font-size: 0.85rem;
  padding: 0 1em;
  text-align: center;
  border-color: #EAF4F4;
  display: flex;
  justify-content: center;
}
.lista-archivos > .item.agregar .miniatura {
  padding: 1em;
}
.lista-archivos > .item.agregar .miniatura .mdi {
  font-size: 2.4rem;
  color: inherit;
}
.lista-archivos > .item.agregar:hover {
  color: #00695C;
  transition: all 300ms;
}
.lista-archivos > .item .miniatura {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 2rem);
  background: #F7F7F7;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}
.lista-archivos > .item .miniatura img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.lista-archivos > .item .miniatura.pdf {
  width: calc(100% + 16px);
  align-self: flex-start;
}
.lista-archivos > .item .miniatura i.mdi {
  font-size: 3.6em;
  color: #00695C;
}
.lista-archivos > .item .informacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0.1em 0.3em 0 0.3em;
  width: 100%;
  height: 1.7rem;
}
.lista-archivos > .item .informacion .nombre {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: -0.03em;
}
.lista-archivos > .item .opciones {
  opacity: 0;
  bottom: 0.1rem;
  right: 0.1rem;
  position: absolute;
  display: flex;
}
.lista-archivos > .item .opciones .opcion {
  margin-left: 0.3em;
}
.lista-archivos > .item .opciones .opcion .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3em -0.15rem #000;
  background: #4DB6AC;
  color: #00695C;
  padding: 0;
}
.lista-archivos > .item .opciones .opcion .btn i.mdi {
  margin: 0;
}

.chip.estado-telemedicina {
  border-radius: 0.2em;
}
.chip.estado-telemedicina.estado-0 {
  background: #EEEEEE;
}
.chip.estado-telemedicina.estado-1 {
  background: #BBDEFB;
}
.chip.estado-telemedicina.estado-50 {
  background: #C5CAE9;
}
.chip.estado-telemedicina.estado-70 {
  background: #F8BBD0;
}
.chip.estado-telemedicina.estado-100 {
  background: #CFD8DC;
}
.chip.estado-orden {
  border-radius: 0.2em;
}
.chip.estado-orden.estado-1 {
  background: #BBDEFB;
}
.chip.estado-orden.estado-20 {
  background: #C5CAE9;
}
.chip.estado-orden.estado-30 {
  background: #C5E1A5;
}
.chip.estado-orden.estado-40 {
  background: #FFE0B2;
}
.chip.estado-orden.estado-50 {
  background: #F8BBD0;
}
.chip.estado-orden.estado-60 {
  background: #CFD8DC;
}
.chip.tipo-entrega.tipo-1 {
  background: #BBDEFB;
}
.chip.tipo-entrega.tipo-2 {
  background: #C5CAE9;
}
.chip.tipo-entrega.tipo-3 {
  background: #7E57C2;
  color: #FFF;
}

.chip.estado-paciente-4 {
  background: #F44336;
  color: #FFF;
}

/*# sourceMappingURL=styles.css.map */
