@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

#pagina {
  background: #ECEFF1;
  padding: 0 0 1em 0;
}
#pagina * {
  font-family: "Noto Sans", "Tahoma", sans-serif;
}
#header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  position: relative;
}
#header > div {
  display: flex;
}
#header > .izquierda {
  display: flex;
  align-items: center;
  width: 15rem;
}

a#logo {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  font-weight: 900;
  color: #616161;
  letter-spacing: -0.03em;
  font-size: 1.1em;
  width: 100%;
  padding: 0.4em 1em;
}

#logo img {
  height: 3rem;
}

#principal {
  display: flex;
  column-gap: 1em;
}

#cuerpo {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFF;
  border-radius: 0.9em 0 0 0.9em;

}

#contenido {
  width: 100%;
}
#content .ficha.sticky {
  position: sticky;
  top: 0;
  z-index: 99999;
}

#content {
  height: calc(100vh - 8.6em);
  overflow-y: auto;
  border-top: 1px solid #EEE;
}
#content::-webkit-scrollbar {
  width: 10px;
}
#content::-webkit-scrollbar-track {
  background: #F5F5F5;
}
#content::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 0.3em;
}
#content::-webkit-scrollbar-thumb:hover {
  background: #BBB;
}

#main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

#lateral {
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
  padding: 1.5em 1em 1em 1em;
  height: calc(100vh - 5rem);
  border-left: 1px solid #EEE;
}
#lateral .ficha {
  font-size: 0.9em;
  box-shadow: none;
  background: none;
}
#lateral .ficha main {
  padding: 0;
}
#lateral .divider {
  border: 1px solid #EEEEEE;
  height: 0.01px;
  border-radius: 1em;
  margin: 1.2em;
  border-bottom-color: #F3F3F3;
}
#lateral .btn, #lateral .btn-flat {
  justify-content: flex-start;
  width: 100%;
}
#lateral .principal {
  margin-bottom: 1em;
}
#lateral .btn {
  margin-bottom: 0.3em;
}

#lateral .link {
  padding: 0.6em 1em;
  display: block;
  font-weight: 500;
  border-radius: 0.3em;
  margin-bottom: 0.2em;
  color: #456453;
  position: relative;
}
#lateral .link .numero {
  position: absolute;
  right: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
  background: rgba(0, 0, 0, 0.0666666667);
}
#lateral .link .mdi {
  font-size: 1.4em;
  line-height: 1em;
  vertical-align: text-top;
  margin-right: 0.1em;
}
#lateral .link:hover {
  background: #EEE;
}
#lateral .link.activo {
  background: #E7E7E7;
}

#opciones {
  display: flex;
  background: #CFD8DC;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-radius: 0.6em;
}
#opciones .opcion a {
  margin-bottom: 0;
  margin-right: 0.5em;
  height: 3em;
}
#opciones .opcion .mdi {
  font-size: 1.4rem;
  margin-right: 0.1em;
}

#menu {
  border-radius: 0 0.6em 0.6em 0;
  padding: 1em 0.5em 1em 0;
  height: calc(100vh - 6em);
  display: flex;
  flex-direction: row;
  max-width: 14rem;
  min-width: 14rem;
  width: 14rem;
}
#menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  min-width: 14em;
}
#menu ul li {
}
#menu ul li.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0.1em 1.5em 0.1em 0em;
}
#menu ul li a {
  font-weight: 500;
  color: #555;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border-radius: 0 2em 2em 0;
  letter-spacing: -0.01em;
  position: relative;
}
#menu ul li a .numero {
  position: absolute;
  right: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
}
#menu ul li a .badge {
  position: absolute;
  right: 0.5em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
}
#menu ul li a .badge:hover {
  background: rgba(0, 0, 0, 0.0666666667);
}
#menu ul li a .badge .mdi {
  margin-right: 0;
}
#menu ul li a .mdi {
  margin-right: 0.3em;
  font-size: 1.6em;
}
#menu ul li.activo > a {
  background: rgba(96, 125, 139, 0.2);
  color: #424242;
}
#menu ul li.activo > a .numero {
  background: rgba(0, 0, 0, 0.1333333333);
  color: #455A64;
}
#menu ul li a:hover {
  background: rgba(96, 125, 139, 0.1333333333);
}
#menu ul li ul {
  margin-top: 0.2em;
}

#menu ul li ul li a {
  padding: 0.5em 2.2em 0.5em 2.2em;
  border-radius: 0 2em 2em 0;
  line-height: 1em;
}
#menu ul li ul li a i.mdi {
  font-size: 1.3em;
}
#menu ul li ul li.activo a {
}
#menu ul li ul li:last-child {
  margin-bottom: 0;
}

#botones-usuario {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
#botones-usuario > li {
  position: relative;
  margin: 0.3em;
}
#botones-usuario > li .desplegable {
  position: absolute;
  width: 100%;
  z-index: 10;
}
#botones-usuario > li.activo #boton-usuario {
  outline: 2px solid #CCC;
}
#botones-usuario > li.activo ul {
  display: block;
}

#menu-usuario #boton-usuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2em 1em 0.2em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  user-select: none;
  color: #555555;
  font-weight: 500;
}
#menu-usuario #boton-usuario:hover {
  background: rgba(0, 0, 0, 0.0666666667);
}
#menu-usuario #boton-usuario img {
  border-radius: 50%;
  height: 3em;
  margin-left: 1em;
  display: block;
}
#menu-usuario ul {
  display: none;
  background: #FFF;
  border-radius: 0.5em;
  margin-top: 0.5em;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.4666666667);
  padding: 0.5em 0;
  margin-right: 0.5em;
}
#menu-usuario ul li a {
  display: flex;
  padding: 1em;
}
#menu-usuario ul li a .mdi {
  margin-right: 0.5em;
}
#menu-usuario ul li a:hover {
  background: #EEE;
}

#contenido .ficha:last-child {
  margin-bottom: 0;
}


#head {
  padding: 0.6rem 1rem 0.6rem 0.7rem;
  display: flex;
  align-items: center;
  z-index: 10;
  max-width: 100%;
  overflow: hidden;
  column-gap: 1em;
  position: sticky;
  top: 0;
}
#head .mdi {
  font-size: 1.4em;
  vertical-align: text-bottom;
}
#head .icono .boton {
  padding: 0.4rem 0.6em;
}
#head .icono a {
  border-radius: 2em;
  padding: 0.6rem;
}
#head .icono a:hover {
  background-color: #F7F7F7;
}
