.lista.compacta .items .item {
  height: 2.6em;
}

.lista > header {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  font-weight: 500;
  margin-bottom: 1em;
  letter-spacing: -0.02em;
  padding: 0 1rem;
}
.lista > header .cantidad {
  color: #9E9E9E;
}
.lista > header .sorter {
  display: flex;
}
.lista .items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 1em;
}
.lista .items .item:hover {
  background-color: #f5f6f7;
}
.lista .items .item:hover .btn {
  background-color: hsl(204 15 91)
}
.lista .items .item:hover .btn:hover {
  background-color: hsl(204 15 90)
}
.lista .items .item:hover .btn:active {
  background-color: hsl(204 15 89)
}
.lista .items .item .informacion {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}
.lista .items .item .informacion .icono {
  padding: 0 0.6em 0 0;
  font-size: 1.5em;
}
.lista .items .item .informacion .numero {
  padding: 0 0.6em 0 0;
  font-size: 1.5em;
  font-weight: bold;
}
.lista .items .item .informacion .imagen {
  overflow: hidden;
  padding: 0.5em 1em 0.5em 0;
}
.lista .items .item .informacion .imagen img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: block;
}
.lista .items .item .informacion .texto {
  padding: 0.1em 0;
}
.lista .items .item .informacion .texto .primario {
  font-weight: 500;
  color: #212121;
  display: flex;
  align-items: center;
}
.lista .items .item .informacion .texto .primario a {
  font-weight: 700;
}
.lista .items .item .informacion .texto .primario .campo {
  margin-right: 1em;
  margin-bottom: 0;
}
.lista .items .item .informacion .texto .secundario {
  font-size: 0.9em;
  font-weight: 400;
  color: #424242;
  display: flex;
  flex-wrap: wrap;
  max-height: 1.6em;
  overflow: hidden;
}
.lista .items .item .informacion .texto .secundario .campo {
  margin-right: 1em;
}
.lista .items .item .informacion .texto .label {
  color: #999;
  display: inline-block;
  font-weight: 400;
}
.lista .items .item .opciones {
  display: flex;
  align-items: center;
  column-gap: 0.3em;
}
.lista .items .item .opciones .opcion .btn.solo {
  padding: 0em 1em 0em 1em;
  padding: 0em 0.5em 0em 0.5em;
}
.lista .items .item .opciones .opcion .btn {
  font-weight: 500;
  padding: 0em 1.2em 0em 1.2em;
}
.lista .items .item .opciones .opcion {
  white-space: nowrap;
}
.lista .items .item .opciones .opcion.grande a {
  font-weight: 500;
}
.lista .items .item.no-leida {
  box-shadow: 0 0.1em 0.2em -0.1em #000;
  border-radius: 0.3em;
  background: rgba(77, 182, 172, 0.0666666667);
  outline: 1px solid #B2DFDB;
}

.lista ul.sorter li {
  margin-left: 0.5em;
}
.lista ul.sorter li a {
  color: #9E9E9E;
  display: flex;
  align-items: center;
}
.lista ul.sorter li a:hover {
  color: #757575;
}
.lista ul.sorter li a.asc::before {
  content: "\f005d";
}
.lista ul.sorter li a.desc::before {
  content: "\f0045";
}
.lista ul.sorter li a::before {
  font: normal normal normal 24px/1 "Material Design Icons";
  line-height: 0.85em;
  font-size: 1em;
  vertical-align: text-bottom;
}

ul.pagination {
  cursor: default;
  margin: 1em 0 0 0;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
ul.pagination li {
  text-align: center;
  display: block;
  line-height: 3em;
  min-width: 3em;
  height: inherit;
  padding: 0 0.1em;
}
ul.pagination li a {
  font-size: inherit;
  display: block;
  width: 100%;
  padding: 0;
  color: #424242;
  border-radius: 0.4em;
}
ul.pagination li.active a {
  background: #B2DFDB;
}
ul.pagination li.disabled {
  cursor: default;
}
ul.pagination li.disabled span {
  color: #AAA;
}
ul.pagination li:not(.active) a:hover {
  background: #E0F2F1;
}

/*# sourceMappingURL=lista.css.map */
