$border-radius: 0.6em;

$background: #FFF;

// verdes claros
$background1: #E0F2F1;
$background2: #B2DFDB;

// verde principal
$color1: #00897b;
$color1_dark: #00796B;

:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}
