@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html body {
  background: #eceff177;
}

* {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

#header {
  padding: 0.5em 2em 0.5em 1em;
  background: #f6f7f8EE;
  position: sticky;
  top: 0;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
#logo {
  img {
    height: 5rem;
    max-height: 5em;
  }
}
#main {
  min-height: calc(100vh - 9.4rem);
}
#menu {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  > li {
    display: block;
    > a {
      padding: 1em 1em;
      font-weight: bold;
      font-size: 1.1rem;
      color: #607D8B;
      display: block;
      &.btn {
        border-radius: 0.3em;
        background: #607D8B;
        color: #FFF;
        background: #CFD8DC;
        color: #546E7A;
        padding-left: 1.5em;
        padding-right: 1.5em;
        margin-left: 1em;
        .mdi {
          font-size: 1.3em;
          margin-left: 0.1em;
        }
      }
    }
  }
}
#menu-wrapper {
  display: flex;
}


#footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#footer {
  position: sticky;
  bottom: 0;
  background: #EEE;
  height: 3em;
  a {
    font-weight: 600;
  }
  .firma {
    padding: 1em;
    text-align: center;
    color: #B0BEC5;
  }
  .informacion {
    display: flex;
    padding: 2em 4em;
    .columna {
      margin: 0 1em;
      width: calc(100% / 3);
      .titulo {
        font-weight: 700;
        font-size: 1.1em;
        margin-bottom: 1em;
      }
      ul {
        li {
          display: flex;
          align-items: center;
          align-items: top;
          padding: 0.3em 0;
          .icono {
            .mdi {
              font-size: 1.3em;
              margin-right: 0.3em;
            }
          }
        }
      }
    }
  }
}

.wrapper-footer {
  background: #263238;
  min-height: 15rem;
  padding: 2em 1em;
  color: #ffffff;
}


#btn-menu {
  display: none;
}
