@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", "Arial", sans-serif;
}

.banner-contenido {
  background-size: cover;
  min-height: 30vh;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.banner-contenido .texto {
  padding: 1em 3em;
  color: #ffffff;
  margin: auto 0;
}
.banner-contenido .texto .titulo {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2em;
  text-shadow: 0 0 1.5em #9E9E9E, 0 0 0.1em #AAA;
}
.banner-contenido .texto .descripcion {
  margin-top: 0.5em;
  font-size: 1.8em;
  line-height: 1.4em;
  text-shadow: 0 0 2em #9E9E9E, 0 0 0.1em #777;
}

.wrapper {
  width: 100%;
}

.wrapper,
#header,
#footer {
  max-width: 80rem;
  margin: 0 auto;
}

#btn-menu {
  display: none;
}

#header {
  padding: 0.5em 2em 0.5em 1em;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

#logo img {
  height: 5rem;
  max-height: 5em;
}

#menu-wrapper {
  display: flex;
}

#menu {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#menu > li {
  display: block;
}
#menu > li > a {
  padding: 1em 1em;
  font-weight: bold;
  font-size: 1.1rem;
  color: #607D8B;
  display: block;
}
#menu > li > a.btn {
  border-radius: 0.3em;
  background: #607D8B;
  color: #FFF;
  background: #CFD8DC;
  color: #546E7A;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: 1em;
}
#menu > li > a.btn .mdi {
  font-size: 1.3em;
  margin-left: 0.1em;
}

#btn-carro {
  color: #455A64;
  position: relative;
  background: transparent;
  height: 4em;
  border-radius: 0.5em;
  padding: 1.2em 1em;
  font-size: 1.1rem;
}
#btn-carro:hover {
  background: #CFD8DC;
}
#btn-carro > .mdi {
  margin: 0;
  font-size: 1.5em;
}
#btn-carro .contador {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background: #FF8F00;
  font-weight: bold;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -0.5em;
  right: -1rem;
  color: #FFF8E1;
  border: 0.2rem solid #FFF;
  font-size: 0.9rem;
  line-height: 1em;
}
#btn-carro.activo {
  background: #FFCC80;
}

.wrapper-footer {
  background: #263238;
  min-height: 15rem;
  padding: 2em 1em;
  color: #ffffff;
}

#footer a {
  color: #FFF;
  font-weight: 600;
}
#footer .firma {
  padding: 1em;
  text-align: center;
  color: #B0BEC5;
}
#footer .informacion {
  display: flex;
  padding: 2em 4em;
}
#footer .informacion .columna {
  margin: 0 1em;
  width: 33.3333333333%;
}
#footer .informacion .columna .titulo {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 1em;
}
#footer .informacion .columna ul li {
  display: flex;
  align-items: center;
  align-items: top;
  padding: 0.3em 0;
}
#footer .informacion .columna ul li .icono .mdi {
  font-size: 1.3em;
  margin-right: 0.3em;
}

html body {
  overflow-y: scroll;
}

#wsp {
  width: 5em;
  height: 5em;
  overflow: hidden;
  position: fixed;
  right: 1.5em;
  bottom: 1.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #80CBC4;
  color: #80CBC4;
  border-radius: 3em;
  font-weight: 700;
  transition: all 200ms;
  white-space: nowrap;
  padding: 0px 1.7em;
  box-shadow: 0 0 1em -0.5em #000;
}
#wsp .icon {
  margin-left: 0.5em;
  height: 1.6em;
  background: #B2DFDB;
  border-radius: 1em;
}
#wsp:hover {
  box-shadow: 0 0 1em -0.5em #000, 0 0 1.4em -0.8em #000;
  color: #004d40;
  width: 19em;
}

#examenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

#examenes .examen {
  min-width: 18em;
  max-width: 24em;
  width: calc(33.3333333333% - 2em);
  background: #FFF;
  border-radius: 1em;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: 0 0 1em -0.3em rgba(0, 0, 0, 0.4666666667);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#examenes .examen .titulo {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.3em 0;
}

#examenes .examen .descripcion {
  font-size: 1em;
  line-height: 1.4em;
}

#examenes .examen .precio {
  font-size: 1.8em;
  color: #37474F;
  font-weight: 900;
  padding: 0.5em 0;
}

#examenes .examen .botones {
  padding: 0.5em;
  display: flex;
  justify-content: center;
}

#examenes .examen .botones a {
  border-radius: 1em;
  font-weight: bold;
  padding: 0.5em 1.5em;
  border: 2px solid #00695C;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

#examenes .examen .botones a .mdi {
  font-size: 1.6em;
}

#examenes .examen .botones a.btn-comprar {
  color: #FFFFFF;
  background: #00695C;
}

#examenes .examen .botones a.btn-comprar .mdi {
  margin-left: 0.5em;
}

#examenes .examen .botones a.btn-agregar-al-carro {
  color: #00695C;
}

/*# sourceMappingURL=layout.css.map */
